<!--<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    &lt;!&ndash; jquery &ndash;&gt;
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    &lt;!&ndash; bootstrap &ndash;&gt;
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    &lt;!&ndash; jquery-validator &ndash;&gt;
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    &lt;!&ndash; layer &ndash;&gt;
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    &lt;!&ndash; md5.js &ndash;&gt;
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    &lt;!&ndash; common.js &ndash;&gt;
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>

<div class="panel panel-default">
    <div class="panel-heading">秒杀商品列表,欢迎<h2 th:text="${user.nickname}"></h2></div>
    <div  class="panel-heading">
        <button onclick="messageRegister()">消息中心</button>
        <input id="userid" th:value="${user.id}"></input>
    </div>　　
    <table class="table" id="goodslist">
        <tr><td>商品名称</td><td>商品图片</td><td>商品原价</td><td>秒杀价</td><td>库存数量</td><td>详情</td></tr>
        <tr  th:each="goods,goodsStat : ${goodsList}">
            <td th:text="${goods.goodsName}"></td>
            <td ><img th:src="@{${goods.goodsImg}}" width="100" height="100" /></td>
            <td th:text="${goods.goodsPrice}"></td>
            <td th:text="${goods.spikePrice}"></td>
            <td th:text="${goods.stockCount}"></td>
            　　　　　 <td><a th:href="'/goods/to_detail/'+${goods.id}">详情</a></td>
        </tr>
    </table>
</div>
</body>-->


<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/base.css}">
<head>
    <title>商品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body class="con">
<div class="header w1">

    <h1 th:if="${user}!=null">
        <h1 th:text="|欢迎 ,${user.nickname}|"></h1>
    </h1>

    <ul>
        <li class="h1"><a href="goods_list.html">秒杀</a></li>
        <li><a href="#">二手</a></li>
        <li><a href="#">闪购</a></li>
        <li><a href="#">生鲜</a></li>
        <li><a href="#">美妆馆</a></li>
        <li><a href="#">服饰</a></li>
        <li><a href="#">全部商品分类</a></li>
    </ul>
</div>
<div class="panel w1">
</div>
<div class="search w1">
    <div class="row w1">
        <div class="col-md-3" th:each="goods,goodsStat : ${goodsList}">
            <a th:href="'/goods/to_detail/'+${goods.id}">
                <img th:src="@{${goods.goodsImg}}" width="100" height="200"/>
            </a>
            <h4 th:text="${goods.goodsName}"></h4>
            <ul>
                <li th:text="|库存:${goods.goodsName}|"></li>
                <li th:text="|原价:${goods.goodsPrice}|"></li>
                <li th:text="|秒杀价:${goods.spikePrice}|"></li>
                <li><a th:href="'/goods/to_detail/'+${goods.id}">详情</a></li>
            </ul>
        </div>
    </div>
</div>

</body>

<script>
    function messageRegister() {
        var userid = $("#userid").val();
        window.location.href = '/message/list?userid=' + userid;
    }
</script>
</html>