<!--<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    &lt;!&ndash; jquery &ndash;&gt;
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    &lt;!&ndash; bootstrap &ndash;&gt;
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    &lt;!&ndash; jquery-validator &ndash;&gt;
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    &lt;!&ndash; layer &ndash;&gt;
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    &lt;!&ndash; md5.js &ndash;&gt;
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    &lt;!&ndash; common.js &ndash;&gt;
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">秒杀商品详情</div>
    <div class="panel-body">
        <span th:if="${user eq null}"> 您还没有登录，请登陆后再操作<br/></span>
        <span>没有收货地址的提示。。。</span>
    </div>
    <table class="table" id="goodslist">
        <tr>
            <td>商品名称</td>
            <td colspan="3" th:text="${goods.goodsName}"></td>
        </tr>
        <tr>
            <td>商品图片</td>
            <td colspan="3"><img th:src="@{${goods.goodsImg}}" width="200" height="200" /></td>
        </tr>
        <tr>
            <td>秒杀开始时间</td>
            <td th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td id="spikeTip">
                <input type="hidden" id="remainTime" th:value="${remainTime}" />
                <span th:if="${spikeStatus eq 0}">秒杀倒计时：<span id="countDown" th:text="${remainTime}"></span>秒</span>
                <span th:if="${spikeStatus eq 1}">秒杀进行中</span>
                <span th:if="${spikeStatus eq 2}">秒杀已结束</span>
            </td>
            <td>
                <form id="spikeForm" method="post" action="/spike/do_spike">
                    <button class="btn btn-primary btn-block" type="submit" id="buyButton">立即秒杀</button>
                    <input type="hidden" name="goodsId" th:value="${goods.id}" />
                </form>
            </td>
        </tr>
        <tr>
            <td>商品原价</td>
            <td colspan="3" th:text="${goods.goodsPrice}"></td>
        </tr>
        <tr>
            <td>秒杀价</td>
            <td colspan="3" th:text="${goods.spikePrice}"></td>
        </tr>
        <tr>
            <td>库存数量</td>
            <td colspan="3" th:text="${goods.stockCount}"></td>
        </tr>
    </table>
</div>
</body>
<script>
$(function () {
    countDown();
});
function countDown() {
    var remainTime=$("#remainTime").val();
    var timeout;
    if(remainTime > 0){//秒杀还没开始，倒计时
        $("#buyButton").attr("disabled", true);
        timeout = setTimeout(function(){
            $("#countDown").text(remainTime - 1);
            $("#remainTime").val(remainTime - 1);
            countDown();
        },1000);
    }else if(remainTime == 0){//秒杀进行中
        $("#buyButton").attr("disabled", false);
        if(timeout){
            clearTimeout(timeout);
        }
        $("#spikeTip").html("秒杀进行中");
    }else{//秒杀已经结束
        $("#buyButton").attr("disabled", true);
        $("#spikeTip").html("秒杀已经结束");
    }
}
</script>
</html>-->


<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/base.css}">
<head>
    <title>商品详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

<div class="details">
    <div class="header w1">
        <h1>秒杀商品详情</h1>
        <ul>
            <li th:if="${user eq null}" class="h1"><a href="login.html">您还没有登录，请登陆后再操作</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">商品详情</a></li>
            <li><a href="#">限时秒杀</a></li>
            <li><a href="#">二手</a></li>
            <li><a href="#">闪购</a></li>
            <li><a href="#">全部商品分类</a></li>
        </ul>
    </div>
    <div class="row w1">
        <div class="details_1 col-md-6">
                <img th:src="@{${goods.goodsImg}}"/>
        </div>
        <div class="detail_2 col-md-6">
            <h4><a href="#">【二手99新】Apple iPhoneXs Max 64G 深空灰色 全网通 苹果Xs Max手机</a></h4>
            <i class="col-md-12">[产品支持7天保价]</i>
            <!--<div class="row">-->
            <div class="det">
                <i class="col-md-2">原  &nbsp;&nbsp; 价 :</i>
                <i class="col-md-10" colspan="3" th:text="${goods.goodsPrice}"></i>
                <!--</div>-->

                <!--<div class="row">-->
                <i class="col-md-2">秒 杀 价:</i>
                <i class="col-md-10" colspan="3" th:text="${goods.spikePrice}"></i>
                <!--</div>-->
                <i class="col-md-2">促 &nbsp;&nbsp; 销 :</i>
                <i class="col-md-10" colspan="3" th:text="${goods.spikePrice}"></i>

                <i class="col-md-2">库 &nbsp;&nbsp; 存 :</i>
                <i class="col-md-10" colspan="3" th:text="${goods.spikePrice}"></i>

                <i class="col-md-2">优 惠 券:</i>
                <i class="col-md-10 pice" colspan="3" th:text="${goods.spikePrice}"><span>满500减200</span></i>

                <div class="miaosha">
                    <i class="col-md-6">秒杀开始时间:</i>
                    <i th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></i>
                    <i id="spikeTip">
                        <input type="hidden" id="remainTime" th:value="${remainTime}" />
                        <i class="col-md-6" th:if="${spikeStatus eq 0}">秒杀倒计时：<span id="countDown" th:text="${remainTime}"></span>秒</i>
                    </i>
                    <div class="miaosha ms1">
                        <i class="col-md-6" th:if="${spikeStatus eq 1}">秒杀进行中</i>
                        <i class="col-md-6" th:if="${spikeStatus eq 2}">秒杀已结束</i>
                    </div>
                    <i>
                        <form id="spikeForm" method="post" action="/spike/do_spike">
                            <button class="btn btn-danger btn-block" type="submit" id="buyButton">立即秒杀</button>
                            <input type="hidden" name="goodsId" th:value="${goods.id}" />
                        </form>
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        countDown();
    });
    function countDown() {
        var remainTime=$("#remainTime").val();
        var timeout;
        if(remainTime > 0){//秒杀还没开始，倒计时
            $("#buyButton").attr("disabled", true);
            timeout = setTimeout(function(){
                $("#countDown").text(remainTime - 1);
                $("#remainTime").val(remainTime - 1);
                countDown();
            },1000);
        }else if(remainTime == 0){//秒杀进行中
            $("#buyButton").attr("disabled", false);
            if(timeout){
                clearTimeout(timeout);
            }
            $("#spikeTip").html("秒杀进行中");
        }else{//秒杀已经结束
            $("#buyButton").attr("disabled", true);
            $("#spikeTip").html("秒杀已经结束");
        }
    }
</script>
</html>
